<!DOCTYPE html>
<html lang="en"  ng-app="visorINTA" ng-controller="MainController">
<head>
	<title>Visor INTA</title>



  <!-- Styles -->
  <link href="./styles/jquery-ui.min.css" type="text/css" rel="stylesheet" />
  <link href="./styles/bootstrap.min.css" type="text/css" rel="stylesheet" />
  <link href="./styles/bootstrap-select.min.css" type="text/css" rel="stylesheet" />
  <link href="./styles/effect-light.min.css" type="text/css" rel="stylesheet" />
  <link href="./styles/quantumui.min.css" type="text/css" rel="stylesheet" />
  <link href="./styles/font-awesome.min.css" type="text/css" rel="stylesheet" />
  <link href="./styles/ol.css" type="text/css" rel="stylesheet" />
  <link href="./styles/visor_main.css" type="text/css" rel="stylesheet" />


  <!-- Libs -->
	<script src="./lib/jquery.js"></script>
  <script src="./lib/jquery-ui.min.js"></script>
  <script src="./lib/bootstrap.min.js"></script>
	<script src="./lib/angular.min.js"></script>
	<script src="./lib/angular-route.min.js"></script>
  <script src="./lib/angular-sanitize.min.js"></script>
  <script src="./lib/angular-animate.min.js"></script>
  <script src="./lib/quantumui.min.js"></script>
	<script src="./lib/ol.js"></script>
  <script src="./lib/xml2json.js"></script>


  <!-- Main Modules -->
	<script src="./scripts/visorModule.js"></script>
  <script src="./scripts/tools/draw/draw.module.js"></script>
  <script src="./scripts/tools/measure/measure.module.js"></script>
  <script src="./scripts/tools/spyLayer/spyLayer.module.js"></script>
  <script src="./scripts/tools/swipe/swipe.module.js"></script>
  <script src="./scripts/tools/imageFilter/imageFilter.module.js"></script>
  <script src="./scripts/tools/importWms/importWms.module.js"></script>
  <script src="./scripts/tools/featureInfo/featureInfo.module.js"></script>
  <script src="./scripts/tools/tools.module.js"></script>
	<script src="./scripts/controllers/MainController.js"></script>
  <script src="./scripts/controllers/SearchController.js"></script>


  <!-- Directives -->
	<script src="./scripts/directives/MenuDirective.js"></script>
  <script src="./scripts/directives/NavbarLayerSelectorDirective.js"></script>
	<script src="./scripts/directives/MapDirective.js"></script>
  <script src="./scripts/directives/NavbarSearchDirective.js"></script>
  <script src="./scripts/directives/LayerMenuListDirective.js"></script>
  <script src="./scripts/directives/SearchInfoBoxDirective.js"></script>
  <script src="./scripts/directives/LayerInfoBoxDirective.js"></script>
  <script src="./scripts/directives/LayersTreeDirective.js"></script>
  <script src="./scripts/directives/ProyectsListDirective.js"></script>
  <script src="./scripts/directives/VisorBoxDirective.js"></script>
  <script src="./scripts/tools/draw/directives/DrawDirective.js"></script>
  <script src="./scripts/tools/measure/directives/MeasureDirective.js"></script>
  <script src="./scripts/tools/spyLayer/directives/SpyLayerDirective.js"></script>
  <script src="./scripts/tools/swipe/directives/SwipeDirective.js"></script>
  <!--<script src="./scripts/tools/imageFilter/directives/ImageFilterDirective.js"></script>-->
  <script src="./scripts/tools/importWms/directives/ImportWmsDirective.js"></script>
  <script src="./scripts/tools/featureInfo/directives/FeatureInfoDirective.js"></script>

  <!-- Factories / Services -->
  <script src="./scripts/providers/ProyectsFactory.js"></script>
  <script src="./scripts/providers/MainInterceptor.js"></script>
  <script src="./scripts/utils/LayerUtilsService.js"></script>
  <script src="./scripts/utils/MapUtilsService.js"></script>
  <script src="./scripts/utils/ProyectUtilsService.js"></script>
  <script src="./scripts/providers/services/GeoServerService.js"></script>
  <script src="./scripts/providers/services/SearchService.js"></script>
  <script src="./scripts/providers/services/VisorBoxManagerService.js"></script>




</head>
<body>
	<div class="wrapper"> <!-- wrapper -->
    <visor-navbar></visor-navbar>
		<nav class="navbar navbar-default" id="visorHeader">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="mainNavbarCollapse">
        <span class="sr-only">Toggle</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Visor GeoINTA</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="mainNavbarCollapse">
      <ul class="nav navbar-nav">
       <button type="button" class="btn btn-primary navbar-btn" data-nq-collapse="" data-target-id="#pulldownMenu"> Menu </button>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div ng-controller="SearchController">
          
            <navbar-search data='searchdata' max-user-searchs='maxUserSearchs'></navbar-search>
          <visor-box id="searchInfoBox" class="toolBox bigInfoBox">
              <search-info-box map='map' data='searchdata' ></search-info-box>
          </visor-box>
        </div>
      </form>
      <form class="navbar-form navbar-right">
        <navbar-layer-selector layers-list='baseLayers'></navbar-layer-selector>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
	<div class="collapse" id="pulldownMenu">
	  <div class="panel-group" id="menuPanelGroup" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading menuHeader hvr-glow" role="tab" id="headingOne" data-toggle="collapse" data-parent="#menuPanelGroup" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      <h4 class="panel-title" >
        <span >
          <i class="fa fa-list-ul"></i>  Proyectos
        </span>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
    	<!--<div class="panel-body">
        Lista proyectos AJAX
      </div>-->
      <proyect-list proyects='proyects' active-proyect='activeProyect' update-active-proyect='requestActiveProyect()'></proyect-list>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading menuHeader hvr-glow" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#menuPanelGroup" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
      <h4 class="panel-title collapsed" >
        <span>
          <i class="fa fa-circle-o"></i>  Proyecto activo
        </span>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body menuPanelConfig">
        <layers-tree map='map' tree='activeProyectModel.modelo'></layers-tree>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading menuHeader hvr-glow" role="tab" id="headingThree" data-toggle="collapse" data-parent="#menuPanelGroup" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
      <h4 class="panel-title collapsed" >
        <span >
          <i class="fa fa-wrench"></i>  Herramientas
        </span>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      	<div class="list-group menuPanelConfig">
          <a class="list-group-item" ng-click="initBoxAction('featureInfoTool','tool','toogle')">Informacion</a>
          <a class="list-group-item" ng-click="initBoxAction('importWmsTool','tool','toogle')">Importar capa WMS</a>
          <a class="list-group-item" ng-click="initBoxAction('drawTool','tool','toogle')">Dibujar</a>
          <a class="list-group-item" ng-click="initBoxAction('measureTool','tool','toogle')">Medir</a>
          <a class="list-group-item"ng-click="initBoxAction('spyLayerTool','tool','toogle')">Lupa</a>
          <a class="list-group-item" ng-click="initBoxAction('swipeTool','tool','toogle')">Cortina</a>
          <!--<a class="list-group-item" ng-click="initBoxAction('imageFilterTool','tool','toogle')">Filtros</a>-->
  		  </div>
    </div>
  </div>
</div> <!-- cierra primer panelgroup -->
    <div class="panel-group" id="layersPanelGroup" role="tablist">
  <div class="panel panel-default light">
    <div class="panel-heading menuHeader hvr-glow" role="tab" id="headingFour" data-toggle="collapse" data-parent="#layersPanelGroup" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
      <h4 class="panel-title collapsed" >
        <span >
          <i class="fa fa-database"></i>  Capas activas
        </span>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse menuPanelLayerList" role="tabpanel" aria-labelledby="headingFour">
      <layer-menu-list map='map' layers-list='activeLayers' show-checkbox="true"></layer-menu-list>
    </div>
  </div>
      </div>
	</div>
		<div visor-map id="map" map='map'></div>
    <!-- Tools  -->
    <div>
    <visor-box id="drawTool" class="toolBox">
      <draw-tool map='map'></draw-tool>
    </visor-box>
    <visor-box id="measureTool" class="toolBox">
      <measure-tool map='map'></measure-tool>
    </visor-box>
    <visor-box id="spyLayerTool" class="toolBox">
      <spy-layer-tool map='map' layer-list='activeLayers'></spy-layer-tool>
    </visor-box>
    <visor-box id="swipeTool" class="toolBox">
      <swipe-tool map='map' layer-list='activeLayers'></swipe-tool>
    </visor-box>
    <!--<visor-box id="imageFilterTool" class="toolBox">
      <image-filter-tool map='map' layer-list='activeLayers'></image-filter-tool>
    </visor-box>-->
    <visor-box id="importWmsTool" class="toolBox bigToolBox importWMSBox">
      <import-wms-tool map='map' layer-list='activeLayers'></import-wms-tool>
    </visor-box>
    <visor-box id="featureInfoTool" class="toolBox">
      <feature-info-tool map='map' layer-list='activeLayers' imported-layers='importedLayers' project-model='activeProyectModel'></feature-info-tool>
    </visor-box>
  </div>
  <!-- Layer Info Box -->
  <visor-box id="layerInfoBox" class="toolBox">
    <layer-info-box map='map' active-layer='layerInfoActive'></layer-info-box> 
  </visor-box>
</body>	