<div ng-if="!infoReceived.length" class="alert alert-{{state.label}}" role="alert">
	{{state.text}}
</div>
<div ng-if="infoReceived.length">
	<ul class="nav nav-tabs">
	    <li ng-repeat="infoTab in infoReceived"  ng-class="{ 'active': $first }"><a data-toggle="tab" href="#infoFeature_{{$index}}">{{infoTab.title}}</a></li>
	</ul>
	<div class="tab-content">
		<div ng-repeat="infoTab in infoReceived" id="infoFeature_{{$index}}" class="tab-pane fade" ng-class="{ 'in active': $first }">
			<table class="table table-striped">
				<tr>
					<th>Campo</th>
					<th>Valor</th>
				</tr>
				<tr ng-repeat="(infoKey,infoValue) in infoTab.info">
					<td>{{infoKey}}</td>
					<td>{{infoValue}}</td>
				</tr>
			</table>
		</div>	    
	</div>
</div>