<div ng-if="!layerList.length" class="alert alert-warning" role="alert">
	No hay capas activas sobre las cuales aplicar filtros
</div>
<div ng-if="layerList.length">
	<div>
	<p>Selecciona filtro</p>
	<select 
		class="form-control"
		ng-model="filterSelected" 
		ng-options="filter.value as filter.title for filter in filterTypes">
	</select>
	</div>
	<div>
	<p>Capa a filtrar</p>
	<select 
		class="form-control"
		ng-model="layerSelected"
		ng-options="layer.get('title') as layer.get('title') for layer in layerList">
	</select>
	</div>
	<div class="toolFooter">
		<button class="btn btn-primary" ng-click="applyFilter(filterSelected,layerSelected)">Aplicar filtro</button>
	</div>
</div>