<div class="container">
	<div class="row">
	<form>
	  <div class="form-group col-md-5">
	    <div class="input-group">
		  <span class="input-group-addon" id="urlserver">http://</span>
		  <input type="text" class="form-control" placeholder="Ingrese URL Servidor..." aria-describedby="urlserver" ng-model="userServerURL">
		</div>
	  </div>
	  <div class="col-md-2">
	  <button type="submit" id="loadCapabilitiesBtn" data-loading-text="Pidiendo capas..." class="btn btn-default" ng-click="loadServerCapabilities()">Pedir capas</button>
	  </div>
	</form>
</div>
</div>
<div class="container">
<div class="row">
	<div class="col-md-5">
		<div class="panel panel-default capabilitiesPanel">
		  <!-- Default panel contents -->
		  <div class="panel-heading">Lista de capas</div>

		  <!-- List group -->
		  <div id="importLayersList"class="list-group">
			<a class="list-group-item" ng-repeat="layer in serverCapabilities.layers" ng-click="setLayerSelected(layer)">{{layer.title}}</a>
		  </div>
		</div>
	</div>
		<div class="col-md-3">
		<div class="panel panel-default capabilitiesPanel">
		  <!-- Default panel contents -->
		  <div class="panel-heading">Estilos disponibles</div>

		  <!-- List group -->
		  <div id="importStyleList" class="list-group">
			<a class="list-group-item" ng-repeat="style in layerSelected.styles" ng-click="setStyleSelected(style)">{{style}}</a>
		  </div>
		</div>
	</div>
</div>
</div>
<div class="container">
	<div class="row">
<div class="col-md-2">
	  <button type="submit" class="btn btn-primary" ng-click="importWMSLayer()">Importar capa</button>
	  </div>
</div>
</div>
</div>