<div class="container-fluid">
	<div class="row">
	<form>
	  <div class="form-group col-md-8">
	    <div class="input-group">
		  <span class="input-group-addon" id="urlserver">http://</span>
		  <input type="text" class="form-control" placeholder="Ingrese URL Servidor..." aria-describedby="urlserver" ng-model="userServerURL">
		  <div class="input-group-btn">
	        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
	        <ul class="dropdown-menu" role="menu">
	          <li ng-repeat="server in serverList"><a ng-click="serverListSelected(server.url)">{{server.nombre}} </a></li>
	        </ul>
	      </div><!-- /btn-group -->
		</div>
	  </div>
	  <div class="col-md-2">
	  <button type="submit" id="loadCapabilitiesBtn" data-loading-text="Pidiendo capas..." class="btn btn-default" ng-click="loadServerCapabilities()">Pedir capas</button>
	  </div>
	</form>
</div>
</div>
<div class="container-fluid">
<div class="row">
	<div class="col-md-8">
		<div class="panel panel-default boxInnerpanel">
		  <!-- Default panel contents -->
		  <div class="panel-heading">
			  <div class="btn-group pull-right">
		        <a ng-click="showSearchLayerInput=!showSearchLayerInput" class="btn btn-default btn-sm"><i class="fa fa-search fa-lg"></i></a>
	    	  </div>
    		  <h4>Lista de capas</h4>
    	 </div>
		  <div id="boxInnerSearchLayer" class="form-group">
		  <input id="searchLayerInput" type="text" class="form-control" ng-show="showSearchLayerInput" placeholder="Buscar capa...">
		  </div>
		  <!-- List group -->
		  <div id="importLayersList"class="list-group">
			<a class="list-group-item" ng-class="{ 'active': $index == layerSelectdIndex }" ng-repeat="layer in serverCapabilities.layers" ng-click="setLayerSelected(layer,$index)">{{layer.title}}</a>
		  </div>
		</div>
	</div>
		<div class="col-md-4">
		<div class="panel panel-default boxInnerpanel">
		  <!-- Default panel contents -->
		  <div class="panel-heading">Estilos disponibles</div>

		  <!-- List group -->
		  <div id="importStyleList" class="list-group">
			<a class="list-group-item" ng-class="{ 'active': $index == styleSelectedIndex }" ng-repeat="style in layerSelected.styles track by $index" ng-click="setStyleSelected(style,$index)">{{style}}</a>
		  </div>
		</div>
	</div>
</div>
</div>
<div class="container-fluid">
	<div class="row">
<div class="col-md-2">
	  <button type="submit" class="btn btn-primary" ng-click="importWMSLayer()">Importar capa</button>
	  </div>
</div>
</div>
</div>