<div class='panel panel-default visorBox' ng-show="isOpen">
	<div class="panel-heading visorBoxHeader">
      <div class="btn-group pull-right">
      	<button ng-click="visorBoxCollapse()" class="btn btn-default btn-xs"><i class="tooglebtn fa fa-chevron-up"></i></button>
        <button ng-click="visorBoxClosed()" class="btn btn-default btn-xs"><i class="closebtn fa fa-times"></i></button>
      </div>
      <h4 class="panel-title">{{title}}</h4>
    </div>
	<div ng-transclude class='panel-body visorBoxBody'></div>
</div>