<form>
  <div class="form-group">
    <label for="printTitle">Titulo ({{TITLE_MAX_LENGTH}} carac. máx)</label>
    <input class="form-control" id="printTitle" ng-model="printTitle" placeholder="Titulo del mapa">
  </div>
  <div class="form-group">
    <label for="printDescription">Descripcion ({{DESCRIPTION_MAX_LENGTH}} carac. máx)</label>
    <input class="form-control" id="printDescription" ng-model="printDescription" placeholder="Descripcion del mapa">
  </div>
  <div class="checkbox">
    <label>
      <input ng-model="printIncludeBaselayer" type="checkbox"> Incluir capa base IGN
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input ng-disabled="labelsAvailable" ng-model="printIncludeLegend" type="checkbox"> Incluir leyendas
    </label>
  </div>
  <span ng-switch="currentStatus">
    <button ng-switch-when="0" ng-disabled="!printTitle || !printDescription" id="exportPDFBtn" ng-click="exportPDF()" class="btn btn-danger">Generar reporte</button> 
    <button ng-switch-when="1"  id="canceltPDFBtn" ng-click="cancelPDF()" class="btn btn-warning"><i class="fa fa-spinner fa-spin fa-fw"></i>  {{printStatusMessage}}</button>
  </span>
    <a ng-show="reportCreated" id="exportPDFAnchor">Descargar reporte</a>
  </span>
</form>