<form>
  <div class="form-group">
    <label for="printTitle">Titulo ({{TITLE_MAX_LENGTH}} carac. máx)</label>
    <input class="form-control" id="printTitle" ng-model="printTitle" placeholder="Titulo del mapa">
  </div>
  <div class="form-group">
    <label for="printDescription">Descripcion ({{DESCRIPTION_MAX_LENGTH}} carac. máx)</label>
    <input class="form-control" id="printDescription" ng-model="printDescription" placeholder="Descripcion del mapa">
  </div>
  <div class="checkbox">
    <label>
      <input ng-model="printIncludeBaselayer" type="checkbox"> Incluir capa base IGN
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input ng-model="printIncludeLegend" type="checkbox"> Incluir leyendas
    </label>
  </div>

  <button id="exportPDFBtn" data-loading-text="Generando PDF..." ng-click="exportPDF()" class="btn btn-danger">Generar PDF</button>
  <a id="exportPDFAnchor" ng-show='pdfCreated'>Descargar archivo</a>
</form>