html,body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.wrapper{
	height: inherit;
}



/* HEADER   */


.navbar {
	margin-bottom: 0px;
}



#visorHeader{
box-shadow: 6px 6px 12px rgba(0,0,0,0.175);
background-color: rgba(255,255,255,0.6);
}

.dropdown-toggle:after, .dropdown-toggle.btn:after{
	content: none;
}


/*    MAPA   */  



#map {
      height: 100%;
      width: 100%;
}

.visor-mouse-position{
	position: absolute;
	color:#FFF;
	background: rgba(0, 60, 136, 0.3) none repeat scroll 0 0;
	border-radius: 4px;
	padding: 0px 5px 0px 5px;
	margin: 1px 1px 1px 5px;
	bottom:8px;
	left: 140px;
	font-size: 14px;
}

.ol-zoom{
	right: .5em;
	top: 3em;
	left: initial;
}


.panel-group .panel+.panel {
margin-top: 0px;
}

.panel-group .panel{
	border-radius: 3px;
}

.panel{
	border-bottom: 1px solid transparent;
}


.menuHeader {
	padding: 10px 15px;
	cursor: pointer;
}


.visorBoxHeader {
	cursor: move;
	border:1px solid transparent;
}

.list-group{
	margin-bottom: 1px;
}

label.tree-toggler {
  cursor: pointer;
}

#pulldownMenu{
	position: absolute;
	z-index:1200;
	width: 25%;
	padding-left: 20px;
	margin-top: 10px;
}

.panel-group{
	box-shadow: 6px 6px 50px rgba(0,0,0,0.175);
	margin-bottom: 2px;
}

.menuPanelConfig{
    max-height: 200px;
	overflow-y: scroll;
}


.menuPanelLayerList{
	max-height: 160px;
	overflow-y: scroll;
}

.popover{
	padding-left: 10px;
}

ul{
list-style-type: none;
}

.toolBox{
	top:150px;
	right: 10px;
}

#searchMarker {
  width: 16px;
  height: 16px;
  border: 1px solid #088;
  border-radius: 10px;
  background-color: #0FF;
  opacity: 0.5;
}

#searchMarkerCheckboxContainer{
	margin-top: 5px;
}

#searckMarkerLabel {
  text-decoration: none;
  color: white;
  font-size: 11pt;
  font-weight: bold;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.visorBox{
	position: fixed;
	display: inline-block;
	height: 0px;
	min-width: 180px;
	z-index:2147483647;
}

.visorBoxBody{
	max-width: 800px;
	max-height: 400px;
	background-color: #FFF;
}

.boxInnerpanel {
	max-height: 250px;
	overflow-y: scroll; 
}


.bigToolBox{
	min-width: 250px;
}

.bigInfoBox{
	min-width: 400px;
}

.importWMSBox{
	width: 800px;
	max-height: 600px;
}

.toolFooter{
	padding-top: 10px;
}

.layerMenuBtn{
	margin-right: 1px;
}

.layerMenuCheckbox{
	clear: both;
}

a[ng-click]{
    cursor: pointer;
}


.ui-resizable-handle {
       position: absolute;
       font-size: 0.1px;
       display: block;
       /*margin: 15px 5px;*/
 }


.resultScopeText{
	color:#428BCA;
}


/* Glow */
.hvr-glow {
  
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}


