

#map {
      height: 100%;
      width: 100%;
}

html,body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}


.navbar {
	margin-bottom: 0px;
}


#visorHeader{
box-shadow: 6px 6px 12px rgba(0,0,0,0.175);
background-color: rgba(255,255,255,0.6);
}

.panel-group .panel+.panel {
margin-top: 0px;
}

.panel-group .panel{
	border-radius: 0px;
}

/*.panel-group .light{
	border-color: #ADA9A9;

}

.panel-group .light .panel-heading:hover{
	background-color: #FFFFFF;
	color:#000000;
}

.panel-group .light .panel-heading{
	color: #FFFFFF;
	background-color: #999;

}*/

.panel-heading {
	padding: 10px 15px;
	cursor: pointer;
}

.list-group{
	margin-bottom: 1px;
}

#pulldownMenu{
	position: absolute;
	z-index:1200;
	width: 25%;
	padding-left: 20px;
	margin-top: 10px;
}

.panel-group{
	box-shadow: 6px 6px 50px rgba(0,0,0,0.175);
	margin-bottom: 10px;
}

.menuPanelConfig{
    max-height: 300px;
	overflow-y: scroll;
}


.menuPanelLayerList{
	max-height: 160px;
	overflow-y: scroll;
}

.popover{
	padding-left: 10px;
}

ul{
list-style-type: none;
}

.toolBox{
	top:100px;
	right: 10px;
}

.visorBox{
	position: fixed;
}

.bigToolBox{
	min-width: 200px;
}

.importWMSBox{
	width: 800px;
	max-height: 600px;
}

.capabilitiesPanel {
	max-height: 200px;
	overflow-y: scroll;
}

.toolFooter{
	padding-top: 10px;
}
